*{
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}
body{
    margin: 0;
    font-size: 30px;
}
.container{
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: #1F2937;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 7px;
    box-shadow: 10px 30px 10px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
}
.copy{
    position: relative;
    text-align: center;
    left: 70px;
    background-color: green;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
}
.gen{
    color: snow;
}
.rand{
    position: relative;
    color: green;
    font-weight: 800;
}
.never{
    position: relative;
    padding-bottom: 10px;
    color: grey;
    font-size: 12px;
}.generate{
    /* position: relative; */
    color: #fff;
    background-color: green;
    border: none;
    padding: 9px 15px;
    margin: 5px auto;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}
.generate:hover{
    background-color: rgb(0, 255, 89);
    transition: all 1000ms ease-in-out;
    color:#333;
}
#state{
    font-size: 10px;
    color: red;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
}
#down, .copy1{
    position: relative;
    top: 10px;
}
.lenght{
    text-align: center;
    position: relative;
    color: rgb(1, 217, 1);
    font-size: 15px;
}
.input{
    text-align: center;
}
#number{
    text-align: center;
    color: green;
    padding: 10px 40px;
    border: none;
    font-weight: bold;
}
.div{
    text-align: center;
}
.generated1, .generated2, .generated3, .generated4{
    background-color: #d2d1d2;
    color: green;
    width: 80%;
    border: none;
    text-align: center;
    padding: 10px 15px;
    border-radius: 17px;
}
@media (max-width: 375px){
    /* .container{
        width: 70%;
        position: relative;
        left: 30px;
        top: 150px;
        background: #1F2937;
        padding: 20px;
    } */
}
@media (min-width: 375px) and (max-width:750px){
    .container{
        width: 50%;
        height:90vh;
        margin:0 auto;
        margin-top: 5px;
        position: relative;
        background: #1F2937;
        padding: 20px;
    }
    #copy {
        left: 50px;
        color: #fff;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 10px;
        letter-spacing: 0.5px;
    }
    .generated1,
    .generated2,
    .generated3,
    .generated4 {
        background-color: #d2d1d2;
        color: green;
        padding: 7px 12px;
    }
}
